<div id="star_<%= book.id %>"></div>
<script>
$(document).on('turbolinks:load', function() {
  let elems = document.querySelectorAll('.rating-star'); // 共通のクラス名を使って全ての評価スター要素を取得

  elems.forEach(function(elem) {
    let bookId = elem.dataset.bookId;
    let opt = {  
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      starHalf: "<%= asset_path('star-half.png') %>",
      score: bookId === "<%= book.id %>" ? "<%= book.star %>" : 0,
      readOnly: true,
    };
    raty(elem, opt);
  });
});
</script>